/node_modules/
/another trash project/backend-app/node_modules/
/another trash project/backend-app/app_old/node_modules/
/another trash project/backend-app/app_old_v2/node_modules/
/another trash project/frontend-app/node_modules/
/backend-app/node_modules/
/frontend-app/node_modules/
